/* ==============================================
   OVERVIEW — PURPLE MODERN THEME
================================================= */

.stats {
  background: #8a55df;
  padding: 20px;
  border-radius: 20px;
  margin-top: 0px;
}

.header {
  margin-left: 30px;
  margin-bottom: 20px;
}

/* KPI Cards */
.kpi-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 22px;
  margin-bottom: 30px;
  padding: 0 10px;
}

.kpi-card {
  padding: 22px;
  border-radius: 20px;
  backdrop-filter: blur(6px);
  box-shadow: 0 8px 20px rgba(80, 0, 140, 0.15);
  transition: 0.3s ease;
  background: #ffffff18;
  color: white;
}

.kpi-card:hover {
  transform: translateY(-5px);
}

.kpi-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.kpi-icon img {
  width: 40px;
  height: 35px;
}

.kpi-label {
  font-size: 22px;
  opacity: 0.9;
}

.kpi-value {
  font-size: 40px;
  font-weight: 700;
}

/* Today Metrics */
.today-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 18px;
  margin-bottom: 35px;
}

.today-card {
  background: #ffffff20;
  padding: 18px;
  border-radius: 16px;
  color: #fff;
  box-shadow: 0 4px 15px rgba(90, 0, 180, 0.1);
}

/* Charts */
.chart-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.chart-card {
  background: #ffffff20;
  padding: 18px;
  border-radius: 20px;
  color: #fff;
  box-shadow: 0 4px 15px rgba(80, 0, 170, 0.1);
}

/* Panels */
.row-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
  margin-bottom: 35px;
}

.panel {
  background: #ffffff25;
  padding: 20px;
  border-radius: 18px;
  backdrop-filter: blur(6px);
  color: #fff;
  box-shadow: 0 6px 20px rgba(100, 0, 170, 0.1);
}

.panel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.panel-action {
  padding: 6px 12px;
  border: none;
  background: #8a3df5;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.panel-list li {
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
