body {
  margin: 0;
  background: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-wrapper {
  width: 960px;
  background: #1f1f2b;
  border-radius: 28px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
  animation: fadeSlide 0.6s ease;
  height: 500px;
}

@keyframes fadeSlide {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

/* LEFT VISUAL */
.auth-visual {
  width: 45%;
  background: linear-gradient(160deg, #5e4ae3, #8f4af2);
  position: relative;
}

.auth-visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.step-dots {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
}


.step-dots .dot {
  cursor: pointer;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 4px;
  background: rgba(255,255,255,0.4);
  display: inline-block;
  transition: all 0.3s;
}

.step-dots .dot.active {
  background: white;
  width: 16px;
  border-radius: 6px;
}

/* RIGHT FORM SECTION */
.auth-form-container {
  width: 55%;
  padding: 55px;
  color: white;
}

.auth-form-container h2 {
  font-size: 28px;
  margin-bottom: 8px;
}

.sub {
  color: #8181a0;
  margin-bottom: 22px;
  font-size: 14px;
}

.sub a {
  color: #9b5cff;
  font-weight: 500;
}

.input-row {
  display: flex;
  gap: 12px;
}

input, select {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  background: #2d2e41;
  border: 1px solid #41425a;
  color: white;
  margin-bottom: 16px;
  font-size: 15px;
  outline: none;
}

.checkbox {
  margin: 14px 0;
  display: flex;
  gap: 0;
}
.checkbox input {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  accent-color: #7b3ff2;
  cursor: pointer;
}
.checkbox p {
  font-size: 15px;
  margin-top:0px ;
}

.hidden {
  display: none;
}

.btn-primary {
  width: 100%;
  padding: 14px;
  background: #7b3ff2;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.btn-primary:hover {
  background: #8e54ff;
}

.btn-secondary {
  flex: 1;
  padding: 14px;
  background: transparent;
  border-radius: 12px;
  border: 1px solid #5a5b76;
  color: #c3c3d7;
  cursor: pointer;
}

.btn-row {
  display: flex;
  gap: 12px;
}

/* Steps */
.form-step {
  display: none;
}

.form-step.active-step {
  display: block;
  animation: slideIn 0.4s ease-in-out;
}

@keyframes slideIn {
  from { opacity: 0; transform: translateX(40px); }
  to { opacity: 1; transform: translateX(0); }
}
